html * {
    margin: 0px;
    padding: 0px;
    font-family: Palatino;
    font-style: italic;
}

.link {
    color:black;
    text-decoration: none; 
    background-color: none;
}

/*
NAVIGATION BAR
*/

.navbar {
    position: sticky;
    top: 2vw;
    z-index: 1000;
    height: 40px;
    width: 100vw;
    background-color: white;
}

.navbar-inner {
    margin-left: 2vw;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.4em;
}

.navbar ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 37px;
}

.navbar img {
    position: absolute;
    right: 4vw;
    height: 30px;
    width: 100px;
    background-color: white;
}

/*
CONTACT TABLE
*/

.contact {
    top: 40px;
    padding-top: 2.5em;
    width: 350px;
    height: 200px;
    float: right;
}

.contact table {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-collapse: separate; 
    border-spacing: 0 1.1em;
    text-align: left;
    float: right;
}

.contact th, td {
    font-weight: normal;
    font-size: 1.1em;
}

.contact td:first-child {
    font-weight: bold;
}

.contact th:first-child {
    font-weight: bold;
}

.contact a {
    text-decoration: none;
}

.contact a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.contact button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1em;
}

/*
FOOTER SECTION
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 5vw;
    width: 100vw;
    color: black;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 37px;
}

.footer button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1em;
}

/*
EMAIL BUTTON STUFF
*/

.email-hide {
    display: none;
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    background: #f2f2f2;
    height: 1.6em;
    width: 9em;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.6em;
    opacity: 0.85;
    position: absolute;
    z-index: 3000;
}

.email:hover + .email-hide {
    display: block;
}

.email button:hover {
    cursor: pointer;
    text-decoration: underline;
}