html * {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif, 'Bellefair';
    box-sizing: border-box;
}

#page-container {
    position: relative;
    min-height: 95vh;
}

#content-wrap {
    padding-bottom: 15rem;
}


h3 {
    font-variant: small-caps;
    font-weight: 600;
}


.link {
    color:black;
    text-decoration: none; 
    background-color: none;
    display: inline-block;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}
    

/*
NAVIGATION BAR
*/

.navbar {
    position: sticky;
    z-index: 1000;
    height: 4em;
    width: 100vw;
    background-color: white;
    font-variant: small-caps;
}

.navbar-inner {
    margin-top: 2em;
    height: 2em;
    margin-left: 2vw;
    right: 5vw;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.4em;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    height: 3em;
    line-height: 2.9em;
}

.navbar ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}


.navbar img {
    position: absolute;
    right: 4vw;
    height: 2em;
    width: 7em;
    background-color: white;
}


/*
FOOTER SECTION
*/

#footer {
    bottom: 2rem;
    height: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    color: black;
    font-size: 10pt;
    text-align: center;
}

#footer a {
    text-decoration: none;
}

#footer ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

#footer ul li {
    float: left;
    padding-right: 20px;
    height: 40px;
    line-height: 37px;
}

#footer ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#footer button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1em;
}

/*
EMAIL BUTTON STUFF
*/

.email-hide {
    display: none;
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    background: #f2f2f2;
    height: 1.6em;
    width: 9em;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.6em;
    opacity: 0.85;
    position: absolute;
    z-index: 3000;
}

.email:hover + .email-hide {
    display: block;
}

.email button:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*
LICENSE HOVER STUFF
*/

.license-hide {
    display: none;
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    background: #f2f2f2;
    height: 1.6em;
    width: 9em;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.6em;
    opacity: 0.85;
    position: absolute;
    z-index: 3000;
}

.license:hover + .license-hide {
    display: block;
}

/*
HOME STUFF
*/

.home_title {
    padding-top: 1em;
    margin-left: 4em;
}

.home_title h1 {
    font-weight: 100;
}


.home_text {
    padding-top: 2em;
    margin-left: 3.5em;
    width: 80%;
    font-size: 1.2em;
}


.home_contact {
    padding-top: 3em;
}

.home_contact ul {
    padding-left: 1em;
}

.home_contact ul li {
    padding-top: 10px;
}

.home_contact a {
    text-decoration: none;
}

.home_contact button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1em;
}


/*
BLOG ENTRY
*/

.blog-entry img {
    position: relative;
    display: inline-block;
}

.home_text a {
    text-decoration: None;
    color: black;
}

.home_text ul {
    padding-left: 1.5em;
    margin: auto;
    float: left;
}

.home_text ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}
