html * {
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif, 'Bellefair';
}

h3 {
    font-variant: small-caps;
    font-weight: 600;
}


.link {
    color:black;
    text-decoration: none; 
    background-color: none;
    display: inline-block;
}

/*
NAVIGATION BAR
*/

.navbar {
    position: sticky;
    top: 2em;
    z-index: 1000;
    height: 3em;
    width: 100vw;
    background-color: white;
    font-variant: small-caps;
}

.navbar-inner {
    margin-left: 2vw;
    right: 5vw;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.4em;
}

.navbar ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    height: 3em;
    line-height: 2.9em;
}

.navbar img {
    position: absolute;
    right: 4vw;
    height: 2em;
    width: 7em;
    background-color: white;
}


/*
FOOTER SECTION
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 5vw;
    width: 100vw;
    color: black;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer ul {
    list-style-type: none;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.footer ul li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    line-height: 37px;
}

.footer button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1em;
}

/*
EMAIL BUTTON STUFF
*/

.email-hide {
    display: none;
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    background: #f2f2f2;
    height: 1.6em;
    width: 9em;
    font-size: 0.8em;
    text-align: center;
    line-height: 1.6em;
    opacity: 0.85;
    position: absolute;
    z-index: 3000;
}

.email:hover + .email-hide {
    display: block;
}

.email button:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*
HOME STUFF
*/

.home_title {
    padding-top: 5em;
    margin-left: 4em;
}

.home_title h1 {
    font-weight: 100;
}


.home_text {
    padding-top: 3em;
    margin-left: 3.5em;
    width: 80%;
    font-size: 1.2em;
}


.home_contact {
    padding-top: 2em;
}

.home_contact ul {
    padding-left: 1em;
}

.home_contact ul li {
    padding-top: 10px;
}


.home_contact a {
    text-decoration: none;
}

.home_contact a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.home_contact button {
    padding: 0;
    border: none;
    background: none;
    font-size: 1em;
}
